@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

<h1>哦，我的上帝啊，你被骗了</h1>

<p>但是这里有 rickroll 、猫、狗、几只勇敢的鸡，我相信你还是赚了</p>
<img src="https://media.tenor.com/CWgfFh7ozHkAAAAM/rick-astly-rick-rolled.gif" width="350px" height="200px" alt=""/>
<img src="https://media.tenor.com/LGHg3qvEKJgAAAAS/funny-animals-animals.gif" width="350px" height="250px" alt="" />
<img src="https://media.tenor.com/VfVyou5LhocAAAAC/rick-roll.gif" width="350px" height="250px" alt="" />
<img src="http://img.soogif.com/JBA42QixXKxsMLvorfcrTgaPf9YytLAQ.gif" width="400px" height="250px" alt="" />


