@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

<h1>哦，我的上帝啊，你被骗了</h1>

<p>主要是我没钱</p>
<p>但是这里有 rickroll，我相信你还是赚了</p>
<img src="https://media.tenor.com/CWgfFh7ozHkAAAAM/rick-astly-rick-rolled.gif" width="350px" height="200px" alt=""/>
