@inherits LayoutComponentBase

<PageTitle>歪K死丢丢</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="" target="_blank" onclick="alert('没有，我开玩笑的')">打钱给开发者</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>